*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	margin: 79px 110px 55px 110px;
}
.logo{
	height: 54px;
	display: block;
}
.logo_first{
	font-family: 'Myriad Pro';
	color:  #000000;
	font-size: 46px;
	font-weight: 400;
}
.logo_last{
	margin-left: -3px;
	font-family: 'Myriad Pro';
	color:  #4bcaff;
	font-size: 46px;
	font-weight: 400;

}
nav{
	background-color:  #35444f;
	height: 69px;
	margin-top: 45px;
	margin-bottom: 50px;
}
.header{
	display: inline-block;
}
.header >li{
	float: left;
	font-family: 'Myriad Pro';
	color:  #ffffff;
	font-size: 24px;
	font-weight: 400;
	line-height: 69px;
	padding: 0 43px;
	cursor: pointer;
}

.header_li:hover{
	background-color:  #222f3a;
	border-left: 1px solid white;
	border-right:1px solid white;
	padding: 0 42px;
}
.container{
	width: 100%;
	display: inline-block;
}
.left{
	width: 344px;
	float: left;
	height: 399px;
	border: 1px solid black;
	overflow: hidden;
	
}
.left_ul{
	
}
.left_li{
	margin: 15px 30px 15px 42px;
	font-family: 'Myriad Pro';
	color:  #485863;
	font-size: 26.99px;
	font-weight: 400;
	line-height: 60px;
	text-align: left;
	cursor: pointer;
}
.left_li:hover{
	width: 100%;
	margin-left: 0;
	background-color: #d9d9d9;
	color: black;
	padding-left: 60px;
}
.right{
	width: 885px;
	float: right;
	box-sizing: content-box;
}
.right_image{
	height: 529px;
	width: 885px;
	border: 1px solid black;

}
.image{
	width: 320px;
	height: 381px;
	background: url(../img/ramda.png) no-repeat;
	margin: 74px auto;
}
.text{
	margin: 50px;
	text-align: justify;
}

footer{
	display: block;
	height: 69px;
	background-color: #d9d9d9;
	width: auto;
	line-height: 69px;
}
.footer_ul > li{
	cursor: pointer;
}
.footer_ul_li_left{
	float:left;
	margin-left: 21px;
}
.footer_ul_li_left:hover{
	color:  #3181a6;
	text-decoration: underline;

}
.footer_ul >li{
	font-family: 'Myriad Pro';
	color:  #010000;
	font-size: 28px;
	font-weight: 400;
}
.footer_ul_li_right{
	float: right;
	margin-right: 21px;
}